.wrapper{
  display: flex;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  align-items: center;
}
.accordation{
  width: 500px;
}
.item{
  background: wheat;
  margin-bottom: 5px;
  padding: 10px 20px;
}
.title{
  color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;


}
.content{
  color: forestgreen;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(1,0,1,0);

}
.content.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}